<mat-horizontal-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Principal</ng-template>
        <div class="form-container">
            <form [formGroup]="firstFormGroup">
                <!-- Add form fields here, e.g., -->
                <mat-form-field>
                    <mat-label>Patients</mat-label>
                    <mat-select formControlName="patient">
                        @for (p of patients$ | async; track $index) {
                        <mat-option [value]="p">{{ p.firstName }} {{ p.lastName }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="consultDate" (dateChange)="getDate($event)" />
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Diagnosis" formControlName="diagnosis" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="treatment" formControlName="treatment" />
                </mat-form-field>
                <button mat-button type="button" (click)="addDetail()">
          Add Detail
        </button> @for (det of details; track $index) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ $index + 1 }} {{ det.diagnosis }}
                        </mat-panel-title>
                        <mat-panel-description>
                            Click for view the treatment
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <textarea matInput placeholder="treatment" value="{{ det.treatment }}"></textarea>
                    </mat-form-field>

                    <button mat-button color="warn" type="button" (click)="removeDetail($index)">
            Remove Details
          </button>
                </mat-expansion-panel>
                }
                <mat-form-field>
                    <input matInput placeholder="Exam" formControlName="exam" [matAutocomplete]="autoExam" [formControl]="examControl" />
                    <mat-autocomplete #autoExam="matAutocomplete" [displayWith]="showExam">
                        <mat-option *ngFor="let ex of examsFiltered$ | async; let i = index" [value]="ex">
                            {{ ex.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-button type="button" (click)="addExam()">Add Exam</button>
                <mat-list role="list">
                    @for (ex of examsSelected; track $index) {

                    <mat-list-item> {{ $index + 1 }} {{ ex.name }} </mat-list-item>
                    }
                </mat-list>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap=".50%">
                    @for (medic of medics; track $index) {
                    <mat-card [ngClass]="{ 'medic-selected': medicSelected === medic }" style="cursor: pointer">
                        <mat-card-header>
                            <img mat-card-avatar [src]="medic.photoUrl" />
                            <mat-card-title>{{ medic.name }} {{ medic.lastname }}</mat-card-title>
                            <mat-card-subtitle>{{ medic.NPI }}</mat-card-subtitle>
                        </mat-card-header>

                        <img mat-card-image width="300" height="400" [src]="medic.photoUrl" (click)="selectMedic(medic)" />
                        <mat-card-content>
                            {{ medic.name }} {{ medic.lastname }}
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button type="button" (click)="selectMedic(medic)">
                SELECT
              </button>
                        </mat-card-actions>
                    </mat-card>
                    }
                </div>
                <button class="fixedRigth" mat-button matStepperNext style="float: right">
          Next
        </button>
                <button class="fixedLeft" mat-button matStepperPrevious style="float: left">
          Previous
        </button>
            </form>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel># Consult</ng-template>
        <!-- Content for the second step -->
        <mat-grid-list cols="10">
            @for (consult of consultArray; track $index) {
            <mat-grid-tile [ngClass]="{ consultCSS: consultSelected === consult }" (click)="selectedConsult(consult)" style="cursor: pointer">{{ consult }}</mat-grid-tile>
            }
        </mat-grid-list>

        <button class="fixedLeft" mat-button matStepperPrevious style="float: left">
      Previous
    </button>
        <button class="fixedRigth" mat-button (click)="nextManualStep()" style="float: right">
      Next
    </button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <!-- Content for the third step -->
        <h3>
            Patient: {{ f["patient"].value?.firstName }} {{ f["patient"].value?.lastName }}
        </h3>
        @if (medicSelected) {
        <h3> Medic {{medicSelected.name +' '+ medicSelected.lastname}}</h3>
        }
        <h3> Consult #: {{consultSelected}}

        </h3>
        <button class="fixedLeft" mat-button matStepperPrevious style="float: left">
            Previous
          </button>
        <button class="fixedRigth" mat-button style="float: right" (click)="save()">
            Save
          </button>
    </mat-step>
</mat-horizontal-stepper>